<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!--Knockout.js-->
	<script type='text/javascript' src='{{ url_for('static', filename='js/knockout-3.4.0.js') }}'></script>

	<!--Front-end View Controller-->
	<script type='text/javascript' src='{{ url_for('static', filename='js/header.js') }}' defer="defer"></script>

	<!--header stylesheet-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/header.css') }}">
	<!--footer stylesheet-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/footer.css') }}">
	{{ JSGlue.include() }}
	<script type="text/javascript">
		function editEvent(id) {
			var isSure = confirm("Are you sure you want to edit this event ");
			if (isSure==true){
				window.open (Flask.url_for("edit_event_administraion", {"user": {{session.user_id}}, "event_id": id, }),'_self',false)
			}
		}
		function cancelEvent(id) {
			var isSure = confirm("Are you sure you want to cancel this event ");
			if (isSure==true){
				window.open (Flask.url_for("delete_event_administraion", {"user": {{session.user_id}}, "event_id": id, }),'_self',false)
			}
		}
	</script>
	<title>TIE Training | Administration | Events</title>
</head>

<body>
	<div class="container light-primary-bg">
		{% include "header.html" ignore missing %}
		<div class="row primary-bg">
			<h1 class="" style="margin:16px; color:#ffffff;">Manage Event</h1>
		</div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		<a href="{{url_for('new_event_administraion', user=user)}}">Create Event</a>
		<table class="table">
		  <thead>
		    <tr>
		      <th>#id</th>
		      <th>Date</th>
		      <th>Topic</th>
		      <th>Details</th>
		      <th>Location</th>
		      <th>Price</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for event in events %}
		    <tr>
		      <th scope="row">{{event.id}}</th>
		      <td>{{event.date}}</td>
		      <td>{{event.topic}}</td>
		      <td>{{event.details}}</td>
		      <td>{{event.address}} {{event.city}}, {{event.state}} {{event.zip}}</td>
		      <td>{{event.cost}}</td>
		      <td><button onclick="editEvent({{event.id}})">Edit</button></td>
		      <td><button onclick="cancelEvent({{event.id}})">Cancel</button></td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
		
		{% include "footer.html" ignore missing %}
	</div>
</body>

</html>