<table>
    <tr valign="top">
        <td>
            <p>Forwarded by: </p><br/>
        </td>
        <td>
            <p>{{session.username}}</p><br/>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <p>First Name: </p><br/>
        </td>
        <td>
            <p>{{correspondence.first_name}}</p><br/>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <p>Last Name: </p><br/>
        </td>
        <td>
            <p>{{correspondence.last_name}}</p><br/>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <p>Email: </p><br/>
        </td>
        <td>
            <p>{{correspondence.email}}</p><br/>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <p>Phone: </p><br/>
        </td>
        <td>
            <p>{{correspondence.country_code}} {{correspondence.phone}}</p><br/>
        </td>
    </tr>
    <tr valign="top">
        <td>
            <p>Message: </p><br/>
        </td>
        <td>
            <p>{{correspondence.message}</p><br/>
        </td>
    </tr>
</table>

