<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!--Knockout.js-->
	<script type='text/javascript' src='{{ url_for('static', filename='js/knockout-3.4.0.js') }}'></script>

	<!--Front-end View Controller-->
	<script type='text/javascript' src='{{ url_for('static', filename='js/header.js') }}' defer="defer"></script>

	<!--header stylesheet-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/header.css') }}">
	<!--footer stylesheet-->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/footer.css') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="{{ url_for('static', filename='js/ticket_view_controller.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/productcategories.js') }}"> </script>
	<title>TIE Training | Events</title>
</head>

<body>
	<body>
	<div class="container light-primary-bg">
		{% include "header.html" ignore missing %}
		<div class="row primary-bg">
				<h1 class="" style="margin:16px; color:#ffffff;">Get your Seat</h1>
		</div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		
		<form action="#" method="post">
			<label for="email">Enter Email: </label>
			<input name="email" id="email" type="email">
			<input type="submit" value="reset">
		</form>
		
		{% include "footer.html" ignore missing %}
	</div>
</body>

</html>